body {
  font-family: "Montserrat";
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Black";
}
p {
  color: #8f8f8f;
}
/*heading*/
.big-heading{
  font-size: 3.5Rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/*section*/
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;

}
/*navigationbar*/
.logo{
  padding-top: 40px;
}
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

/* Download btn */
.Download-button {
  margin: 5% 3% 5% 0%;
}
/*title section*/
#title .container-fluid{
  padding: 3% 15% 7%;
    text-align: left;
}

.title-img {
  width: 90%;
  height: 80%;
  position: absolute;
  right: 20%;
}

/*features*/
#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.features-title{
  font-size: 1.5rem;
}
.featurespara {
  font-size: 1rem;
  line-height: 1.5 px;
}

.features-img {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-img:hover {
  color: #ff4c68;
}

/*testimonial*/
#testimonials {
  background-color: #ef8172;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;

}

/*pricing */
#pricing {

  padding: 100px;
}
.pricing-title{
  font-size: 1.5rem;
}
.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-col {
  padding: 3% 2%;
}
.product-img{
  width: 279px;
height: 180px;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
  }
}
/* footet*/
.maps{
  padding-top: 40px;

}

.footer-sec{
  padding: 3% 8%;
}
.foot-clr{
  color: white;
}
.soc-icon {
  margin: 20px 10px;
}
#form-pg{
 padding: 3% 15% ;

}
